/*COLORES 
 *NARANJA #f16529
 *NARANJA OSCURO #e44d26
 *AZUL #042d41
PALETA ##D3B194 CARNE #D8D8D8 GRIS, #CA6B0F NARANJA, #042D41 AZUL OSCURO
*/
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/A4RWZsncmJ25G8iqn2EHN_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/x-7NZTw0n-ypOAaIE8uSrvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
body{margin: 0;font-family: Dosis,Tahoma,sans-serif;min-width: 1080px; max-width: 1700px;}
header{width: 100%;min-height: 65px;background: #EFEFEF;-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);border-bottom: 1px #ad5a0d solid;box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);margin-bottom: 0;padding-bottom: 0;}
header .panel-lef {width: 30%; float: left;}
header .panel-righ {width: 60%; float: right;}
.panel-lef .logo {text-align: center;   }
.panel-righ .menu{float: right; margin-right: 20%;}
.menu li{float: left;margin-right: 24px;font-size: 16px;line-height: 27px; list-style: none;}
.menu li a{list-style: none;text-decoration: none;}
.menu li:hover{cursor: pointer; color: #f16529;}
section{position: relative;margin: 0; min-height: 400px;  background: #f16529;}
section article { padding-top: 2%; width: 100%; margin: 0 auto;  }
.sliders{max-width: 1080px;}
.conten{min-width: 1080px; background: #fff; clear: both; }
.conten p{color: #666; font-size: 16px; padding-left: 10%;}
.conten h3{color:#e44d26; text-align: left; padding-left: 10%; }
article p {color: white;}
h1,h2,h3 {padding-left: 2%;}
h1{font-family: Ubuntu,arial,sans-serif;font-weight: normal;font-size: 19px;line-height: 22px;color: #fff;text-transform: uppercase;margin: 0;clear: both;}
.efecto{font-size: 45px;text-shadow: -2px 1px 1px rgba(0,0,0,.5);font-weight: 700;margin: 0 0 16px;color: #fff;text-align: center;}
article h3{text-align: center;color: #666;font-size: 38px; }
h1 div{display: inline-block;background-color: #7db701;margin: 20px 0;padding: 10px 20px 10px 0;position: relative;}
h1 div.extensor {display: block; position: absolute;top: -20px;width: 300px;height: 22px; right: 100%;}

article .post{width: 700px;margin: 20px 20px 20px 20px;border-top: 1px solid #ddd;}
article .post .cobertor{}
article .post .post-img{width: 30%;float: left;background: #ddd;margin: 1%;max-height: 160px; }
.post-img img {width: 100%;height: 160px;}
article .post .post-cuerpo{ width: 65%; margin: 1%;float: right; min-height: 160px;}
article .post .post-cuerpo:hover{background-color: #ccc;cursor: pointer;}
article .post .post-cuerpo .title{color:#e44d26; font-weight: 500; margin: 1%; }
article .post .post-cuerpo .content{ margin: 1%; }

/*.post {width: 700px; margin: 20px 20px 20px 20px;background-color: #DDDDDD; }
.post .cobertor{background-color: #DDDDDD;
-webkit-transition: background-color 0.2s ease-in-out;
-moz-transition: background-color 0.2s ease-in-out;
transition: background-color 0.2s ease-in-out;}
.post .post-title {float: left; width: 30%;}
.post .post-cuerpo {float: right; width: 69%;}*/
/*BOTONES*/
.btn-blue{background:#ccc;color:#042d41;cursor:pointer;display:inline-block;padding:13px 35px 11px;text-align:center; text-decoration:none; border: none;}
footer{width: 100%; background: #EFEFEF; min-height: 120px; border-top: 1px solid #DDDDDD;}
footer p{width: 80%; margin: 0 auto; text-align: left; font-size: 14px;}